%h1 Editing Staff

= form_tag room_path(@room), :method => :put do

  = label :room, :room_id, 'Room_id'
  = text_field :room, 'room_id'

  = label :room, :volume, 'Volume'
  = text_field :room, 'volume'

  = label :room, :status, 'Status'
  = select :room, :status, ["available","unavailable"]

  = submit_tag 'ยืนยันการแก้ไขข้อมูลห้อง'

