%h1 Staffs#login
%p Find me in app/views/staffs/login.html.haml

%h1 กรุณากรอก username และ password

= form_tag submit_staffs_path, :method => :submit do

  = label :staff,:username,'Username'
  = text_field :staff, 'username'

  = label :staff,:password, 'Password'
  = text_field :staff, 'password'

  = submit_tag 'Log In'
  = link_to 'Back to home page', rooms_path
