%p#notice= notice

%h2 Details about #{@room.room_id}

%p Status : #{@room.status}

%p Volume : #{@room.volume}

= link_to 'แก้ไขข้อมูลห้อง', edit_staff_path(@room)
= link_to 'จองห้อง', new_reserve_path(@room)
= link_to 'Delete', room_path(@room), method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Back to room list', staffs_path


