= form_for @reserf do |f|
  - if @reserf.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reserf.errors.count, "error")} prohibited this reserf from being saved:"
      %ul
        - @reserf.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
