%h1 Listing reserves

%table
  %tr
    %th name
    %th room_id
    %th more info

  - @reserves.each do |reserf|
    %tr
      %td= reserf.name
      %td= reserf.room_id
      %td= link_to "ดูรายละเอียดการจองห้อง #{reserf.room_id} โดย #{reserf.name}", reserf_path(reserf)

%br

= link_to 'New Reserve', new_reserf_path
